.column {
  text-align: center;
}
.sidebar {
  float: left;
  width: 20%;
  background-color: black;
  color: white;
  border: 10px;
  padding: 10px;
}
img {
  float: right;
  width: 20%;
  border: 20px;
  padding: 10px;
}
.sidebarh2 {
  text-align: center;
}
.pagetitle {
  text-align: center;
}